
:root{
	--font-base: Iowan Old Style, Apple Garamond, Baskerville, Times New Roman, Droid Serif, Times, Source Serif Pro, serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol; ;
	--font-mono: font-family: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace; ;
}

body {
	@apply max-w-3xl mx-auto px-3 pt-5 text-zinc-600 tracking-wide;
	font-family: var(--font-base);
}

header a {
	@apply !text-inherit !no-underline;
}

.blog-post a {
	@apply text-zinc-400 underline hover:text-zinc-900;
}

.blog-post p{
	@apply mb-5;
}


.blog-post > code {
	@apply bg-zinc-300;
}

.blog-post pre {
	@apply bg-zinc-200;
}
