{{define "blogPostHTML"}}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="/assets/favicon.png" />
    <meta property="og:type" content="website" />
    <meta
      property="og:url"
      content='{{print .Site.Link "/" .Meta.Slug}}'
    />
    <meta property="og:title" content="{{.Meta.Title}}" />
    <meta property="og:image" content="{{.Site.Link}}/assets/logo.png" />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta
      property="twitter:url"
      content='{{print .Site.Name .Meta.Slug}}'
    />
    <meta property="twitter:title" content="{{.Meta.Title}}" />
    <meta property="twitter:image" content="{{.Site.Link}}/assets/logo.png" />
    <meta name="title" content="{{.Meta.Title}}" />
    <title>{{.Meta.Title}}</title>
    <link rel="stylesheet" href="../styles/main.css" />
    <link rel="stylesheet" href="../styles/blog-extras.css" />
  </head>
  <body>
    {{template "headerHTML" .}}
    <main class="container-boundaries container">
      <article>
        <h1>{{.Meta.Title}}</h1>
      </article>
      {{.Content}}
    </main>
    {{template "footerHTML" .}}
  </body>
</html>
{{end}}
