{{define "blogIndexHTML"}}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="/assets/favicon.png">
    {{template "metaHTML" .}}
    <title>{{.Site.Name}}</title>
    <link
      rel="stylesheet"
      href="../styles/main.css"
    />
    <link
      rel="stylesheet"
      href="../styles/extras.css"
    />
  </head>
  <body>
    {{template "headerHTML" .}}
    <main class="container-boundaries container">
      <ul class="p-0">
        {{range .Files}}
        <li class="mb-2 list-style-none">
          <a href="/{{.Slug}}"> {{.Title}} </a>
          <p class="m-0 p-0">
            <small> {{.Date.Format "02/01/2006"}} </small>
          </p>
        </li>
        {{end}}
      </ul>
    </main>
    {{template "footerHTML" .}}
  </body>
</html>
{{end}}
