{{define "headerHTML"}}
<header class="container-boundaries">
  <div class="flex">
    <div>
      <h3 class="">
        {{.Site.Name}}
        <br />
        <small class="fw-normal no-wrap">{{.Site.Description}}</small>
      </h3>
      <nav>
        <a href="/" class="mr-2 mb-2">Home</a>
        <a href="/devlogs/index.html" class="mr-2 mb-2">Dev Logs</a>
        <a href="/projects.html" class="mr-2 mb-2">Projects</a>
        <a href="/newsletter/index.html" class="mr-2 mb-2">Newsletter</a>
        <a href="/donate.html" class="mr-2 mb-2">Donate</a>
      </nav>
    </div>
  </div>
</header>
{{end}}
