{{define "metaHTML"}}
<!-- Primary Meta Tags -->
<title>{{.Site.Name}}</title>
<meta name="title" content="{{.Site.Name}}" />
<meta name="description" content="{{.Site.Description}}" />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content="{{.Site.Link}}" />
<meta property="og:title" content="{{.Site.Name}}" />
<meta property="og:description" content="{{.Site.Description}}" />
<meta property="og:image" content="{{.Site.Link}}/assets/logo.png" />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content="{{.Site.Link}}/" />
<meta property="twitter:title" content="{{.Site.Name}} " />
<meta
  property="twitter:description"
  content="Minimalist | Developer | Designer. 
I develop open source software and tools to ease development and life overall. Dreams of making a living off of open source software."
/>
<meta property="twitter:image" content="{{.Site.Link}}/assets/logo.png" />
{{end}}
