.sticky {
  position: sticky;
}

.sticky.sticky-header {
  top: 0;
}

.sticky.sticky-input {
  top: 79px;
}

.list {
  padding: 0;
}

.list-item {
  padding: 16px;
  margin-bottom: 8px;
  font-size: 18px;
  line-height: 30px;
  border-radius: 8px;
  list-style-type: none;
  display: flex;
  align-items: center;
}

.list-item:hover {
  cursor: pointer;
  background-color: var(--bg-light);
}

.list-item span {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 16px;
  animation: slide-in-left 0.2s ease;
}

.list-item.marked {
  text-decoration: line-through;
}

.list-item.marked span {
  display: flex;
  color: #a3be8c;
  align-items: center;
  justify-content: center;
  margin-right: 16px;
  margin-left: 16px;
  animation: slide-in-left 0.2s ease;
}

.toast {
  background: var(--fg-light);
  color: var(--bg-light);
}

.floating-banner {
  min-height: 40px;
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  z-index: 1;
  background-color: transparent;
}

.floating-banner > .content {
  margin: 8px;
  border-radius: 8px;
  background: var(--accent);
  color: var(--white);
  padding: 16px;
  animation: slide-in-down 0.4s ease;
}

.hidden {
  display: none;
}

.only-js {
  display: none;
}

@keyframes slide-in-down {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.logo-svg path{
  fill: var(--fg);
}